/*acordon*/
.section{
    width: 70vw;
    padding: 20px;
    background-color: #f9ebeb;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.section details h3{
    text-align: center;
}

.section .card{
    width: 200px;
}

summary{
    background: #de614e;
    font-size: 23px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

summary:hover{
    transform: scale(1.02);
}

details .card-content h3{
    margin: auto;
    border-radius: 15px;
    transition: all 0.5s;
}

details .card-content h3:hover{
    background-color: #fafafa;
    transform: scale(1.02);
}