/* nav initial animation */
@keyframes navBar {
    from {
        transform: translate3d(0, -100px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
nav{ /* passing animation to nav */
    animation: navBar 2s;
    animation-direction: alternate;
    animation-iteration-count: initial;
}
/* text animation */
@keyframes textAnimation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
h1, h2, h3, h4, h5, span, p{
    animation: textAnimation 3s;
}
/* up button animation */
@keyframes upButton {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}
/* Loader Screen */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ef6a36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ef6a36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .hidden {
    display: none;
  }

  /* loading screen */

  .spinner {
    display: inline-block; /* Para permitir que el contenido se ajuste al tamaño */
    font-size: 65px;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent; /* Hacemos que el color del texto sea transparente */
    -webkit-text-stroke: 1px #000; /* Añadimos contorno negro */
    background: 
      radial-gradient(1.13em at 50% 1.6em, #000 99%, transparent 101%) calc(50% - 1.6em) 0 / 3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em, transparent 99%, #000 101%) 50% .8em / 3.2em 100% repeat-x text;
    animation: l9 2s linear infinite;
    /* Usamos 3s para que crezca lentamente */
  }
  .spinner:before {
    content: "Loading"; /* El texto que se muestra */
    display: block; /* Para asegurar que el texto tenga espacio */
    text-align: center;
  }

  @keyframes l9 {
    to {
      background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em;
    }
  }