

.row{ /* 1st row */
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ef6a36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ef6a36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */               
    display: flex;
    flex-wrap: wrap;
    border-style: outset;
    border-color: #EF3B36;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


.side{ /*1st Left side */
    flex: 52.3%;
    padding: 0px 20px;
}

.side h4{
    font-size: 40px;
}

.side h5{
    font-size: 55px;
    
}

.side span{
    text-align: center;
    font-size: 1.2em;
}


.main{ /* 1st right side */
    flex: 40%;
    padding: 20px;
    margin: 10px;
}

.main h4{
    text-align: center;
    font-size: 40px;
}

.main h5{
    text-align: center;
    margin-top: 5px;
    font-size: 55px;
}


.row-2{ /* 2nd row */
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ef6a36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ef6a36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */               
    display: flex;
    flex-wrap: wrap;
    border-style: outset;
    border-color: #EF3B36;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.side-2{ /* 2nd left side */
    flex: 52.3%;
    padding: 0px 20px;
}

.side-2 h2{
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

.side-2 p{
    text-align: center;
    font-size: 1.2em;
}

.side-2 .image{ /* Big image */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px ;
}

.side-2 img{
    border-radius: 10%;
    width: 30vw;
    max-width: 1000px;
    min-width: 320px;
    cursor: pointer;
}

.main-2{ /* 2nd right side */
    flex: 40%;
    padding: 20px;
    margin: 10px;
}

.main-2 h2{
    text-align: center;
    font-size: 30px;
}

.main-2 p{
    font-size: 1.2em;
}