
.contact{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
   justify-content: center;
}

.contact ul{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.contact li{
    margin: 50px;
    transition: all 0.5s;
}

.contact li:hover{
    transform: scale(1.1);
}

.contact ul li a{
    color: #ECE9E6;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 75px;
}

.contact ul li a:hover{
    color: #56ab2f;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}